<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install ipython-sql

In [1]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect(r"C:\Users\rashm\Downloads\Spacex.csv")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [14]:
%sql sqlite:///Spacex.db

In [15]:
import pandas as pd
import sqlite3

# Step 1: Download the CSV and save it locally (already done manually as per your instructions)
# Path to the downloaded CSV file
csv_path = r"C:\Users\rashm\Downloads\Spacex.csv"

# Step 2: Connect to a new SQLite database (use a .db file, not the CSV file)
con = sqlite3.connect(r"C:\Users\rashm\Downloads\Spacex.db")

# Step 3: Read the CSV file into a DataFrame
df = pd.read_csv(csv_path)

# Step 4: Write the DataFrame to an SQLite database table
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Step 5: Close the database connection
con.close()

**Note:This below code is added to remove blank rows from table**

In [16]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///Spacex.db
   sqlite:///my_data1.db
Done.

[]

In [17]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///Spacex.db
   sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
%sql SELECT DISTINCT "LaunchSite" FROM SPACEXTABLE;

 * sqlite:///Spacex.db
   sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: LaunchSite
[SQL: SELECT DISTINCT LaunchSite FROM SPACEXTABLE;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [23]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to get column information for SPACEXTABLE
cursor = con.execute("PRAGMA table_info(SPACEXTABLE);")

# Extract and display column names
columns = [column[1] for column in cursor.fetchall()]
print("Column names in SPACEXTABLE:", columns)

# Close the connection
con.close()

Column names in SPACEXTABLE: ['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [27]:
import sqlite3

# Connect to the database
con = sqlite3.connect("Spacex.db")
query = "SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;"

# Execute the query and fetch results
df = pd.read_sql_query(query, con)
print(df)

# Close the connection
con.close()

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [29]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to calculate the total payload mass for NASA (CRS)
query = """
SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass 
FROM SPACEXTABLE 
WHERE "Customer" = 'NASA (CRS)';
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

   Total_Payload_Mass
0               45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [32]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to calculate the average payload mass for booster version F9 v1.1
query = """
SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass 
FROM SPACEXTABLE 
WHERE "Booster_Version" = 'F9 v1.1';
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

   Average_Payload_Mass
0                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [34]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to find the date of the first successful landing on a ground pad
query = """
SELECT MIN("Date") AS First_Successful_Landing_Date 
FROM SPACEXTABLE 
WHERE "Landing_Outcome" = 'True RTLS';
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

  First_Successful_Landing_Date
0                          None

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [35]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to find booster versions with successful drone ship landings and specific payload mass range
query = """
SELECT "Booster_Version" 
FROM SPACEXTABLE 
WHERE "Landing_Outcome" = 'True ASDS' 
AND "PAYLOAD_MASS__KG_" > 4000 
AND "PAYLOAD_MASS__KG_" < 6000;
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

Empty DataFrame
Columns: [Booster_Version]
Index: []

### Task 7




##### List the total number of successful and failure mission outcomes

In [36]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to count successful and failed missions
query = """
SELECT 
    SUM(CASE WHEN "Mission_Outcome" LIKE 'Success%' THEN 1 ELSE 0 END) AS Successful_Missions,
    SUM(CASE WHEN "Mission_Outcome" LIKE 'Failure%' THEN 1 ELSE 0 END) AS Failed_Missions
FROM SPACEXTABLE;
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

   Successful_Missions  Failed_Missions
0                  100                1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [37]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to find booster versions that have carried the maximum payload mass
query = """
SELECT "Booster_Version" 
FROM SPACEXTABLE 
WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE);
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [38]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
con = sqlite3.connect("Spacex.db")

# Query to get the required records for failed drone ship landings in 2015
query = """
SELECT 
    SUBSTR("Date", 6, 2) AS Month, 
    "Landing_Outcome", 
    "Booster_Version", 
    "Launch_Site" 
FROM SPACEXTABLE 
WHERE "Landing_Outcome" = 'False ASDS' 
    AND SUBSTR("Date", 1, 4) = '2015';
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

Empty DataFrame
Columns: [Month, Landing_Outcome, Booster_Version, Launch_Site]
Index: []

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [42]:
import pandas as pd
import sqlite3

# Define the path to the SQLite database and CSV file
db_path = "Spacex.db"
csv_path = r"C:\Users\rashm\Downloads\Spacex.csv"

# Connect to the database
con = sqlite3.connect(db_path)

# Load data from CSV into the database, creating SPACEXTABLE
df = pd.read_csv(csv_path)
df.to_sql("SPACEXTABLE", con, if_exists="replace", index=False)

# Close the connection to ensure the table is saved
con.close()

In [43]:
# Reconnect to the database
con = sqlite3.connect(db_path)

# Define the query to rank landing outcomes by count
query = """
SELECT 
    "Landing_Outcome", 
    COUNT(*) AS Outcome_Count 
FROM SPACEXTABLE 
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' 
GROUP BY "Landing_Outcome" 
ORDER BY Outcome_Count DESC;
"""

# Execute the query and fetch results
result = pd.read_sql_query(query, con)
print(result)

# Close the connection
con.close()

          Landing_Outcome  Outcome_Count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>